*{
	margin: 0 auto;	
	font-family: "NeueHaas",sans-serif; 

}
#headerMain{	
	background-color: #333333;
	height: 100px;
	text-align: center;
}
#headerMain .logo_container{
	width: 1128px;
	height: 100px;
}
#headerMain .logo{
	position: absolute;
	margin-top: 20px;
	margin-left: 20px;
}

#headerMain .title{
	padding-top: 20px;
	color: white;
	font-size: 44px;
	width: 100%;
}
nav{
	background-color: #333333;
	height: 30px;
	width: 100%;
}
nav .container{
	width: 1128px;
	height: 100%;
	color: white;
	display: flex;
 	justify-content: space-between;
 	align-items: center;
}
nav .container .homeicon{
	width: 24px;
	height: 24px;
}
nav .container .homeicon:hover{
	color: #ff8000;
	cursor: pointer;
}
nav .container .menu {
	object-position: center;
	width: 900px;
	height: 100%;
	display: flex;
 	justify-content: space-between;
 	align-items: center;
}
.menu .dropdown {
	height: 100%;
	margin: 0 10px;
    position: relative;
    display: inline-block;
}
.menu .dropdown p:hover{
	color: #ff8000;
	cursor: pointer;
}
.menu .dropdown_content {
    display: none;
    position: absolute;
    margin-left: -15px;
    background-color: #333;
    box-shadow: 2px 2px 0px 0px rgba(255,255,255,0.2);
    min-width: 140px;
    padding: 12px 16px;
    z-index: 1;
}
.menu .dropdown_content p{
	line-height: 30px;
}
.menu .dropdown .dropdown_content .item{
	width: 100%;
	height: 30px;
}
.menu .dropdown:hover .dropdown_content {
    display: block;
}
nav .container .searchicon{
	margin: 0;
	width: 24px;
	height: 24px;
}
nav .container .searchicon:hover{
	color: #ff8000;
	cursor: pointer;
}

#content{
    position: relative;
	width: 1128px;
	min-height: 1750px;
	flex-direction: column;
	display: flex;
 	justify-content: space-between;
 	align-items: center;
}
#content .top_cat{
	height: 500px;
	width: 100%;
	margin-top: 20px;
	display: flex;
 	justify-content: space-between;
 	align-items: center;
}
.top_cat .dividend{
	height: 100%;
	width: 20%;
	margin-right: 20px;
}
 .sub_title{
	width: 100%;
	height: 28px;
	border-bottom: 1px solid #ff8000;
}
 .sub_title a{
 	width: 100%;
	font-size: 20px;
	text-decoration: none;
	color: black;
	float: left;
}
 .sub_title a:hover{
	color: #ff8000;
}
 .sub_title i{
	float: right;
	color: gray;
	font-size: 24px;
	cursor: pointer;
}
 .sub_title i:hover{
	color: #ff8000;
}
.top_cat .dividend .news_content{
	margin-top: 20px;
	width: 100%;
	height: 450px;
	background-color: #eee;
	overflow: auto;
}
.news_content .article{
	margin: 0px 10px;
	padding: 18px 10px;
	font-size: 14px;
	border-bottom: 1px solid #bbb;
	color: black;
}
.article_time{
	margin-top: 10px;
	margin-bottom: 10px;
	color: gray;
}

.top_cat .markets_pan{
	width: 80%;
	height: 100%;
}
.markets_pan .markets_table{
	margin-top: 20px;
	width: 100%;
}
/* Style the tab */
div.tab {
    overflow: hidden;
    border: none;
    border: 1px solid #ccc;
    background-color: #333;
}

/* Style the buttons inside the tab */
div.tab button {
    float: left;
    border: none;
    cursor: pointer;
    height: 43px;
    width: 150px;
    padding: 0px 0px;
    opacity: 0.2;
}
.tab h2{
	padding-top: 10px;
	color: white;
}

/* Change background color of buttons on hover */
div.tab button:hover {
	opacity: 0.6;
    background-color: #ddd;
}

/* Create an active/current tablink class */
div.tab button.active {
	opacity: 1;
    background-color: #888; 
}

/* Style the tab content */
.tabcontent {
	background-color: #eee;
	height: 404px;
}

.tabcontent table{
	border-collapse: collapse;
	width: 100%;
	height: 100%;
	margin: 0;
}
.tabcontent tr, th, td{
	border-collapse: collapse;
	border: 1px solid #bbb;
}

.news{
	width: 100%;
	margin: 0;
}

.article_board{
	display: flex;
 	justify-content: space-between;
 	align-items: center;
}
.article_board article{
	margin: 0;
	color: white;
}
.article_board article:hover{
	filter: brightness(0.8);
    transition: 0.4s;
	color: #ff8000;
}
.article_board .module_head{
	height: 25px;
	margin-top: 20px;
	border-top: 1px solid #bbb;
	color: black;
}
.article_board .module_head a{
	font-size: 14px;
	color: gray;
	text-decoration: none;
	margin: 5px 0;
}
.article_board .module_head a:hover{
	color: #ff8000;
	cursor: pointer;
}
.article_board .module_head i{
	float: right;
	color: gray;
}
.article_board .module_head i:hover{
	color: #ff8000;
}

.article_board h3{
	margin-top: -70px;
	text-align: center;
}

.mt_news article{
	margin-top: 20px;
	border-bottom: 1px solid #bbb;
	float: left;
}
.mt_news article:hover{
	filter: brightness(0.8);
    transition: 0.4s;
    cursor: pointer;
	color: #ff8000;
}
.mt_news article img{
	padding: 0 20px 40px 0;
	float: left;
}

.mt_news article span h5{
	color: grey;
	margin-top: 5px;
}
.mt_news article span time{
	font-size: 14px;
	margin-top: 15px;
	color: #bbb;
	float: left;
}

.footer{
	margin-top: 50px;
	position: relative;
	background-color: #eee;
	width: 100%;
}
.footer .footer_bar{
	width: 100%;
	height: 60px;
	background-color: #ddd;
	opacity: 0.8;
}
.footer .footer_container{
	width: 1128px;
	height: 240px;
}
.footer .footer_container .box_bar{
	margin: 50px 0;
	width: 100%;
	height: 137px;
	display: flex;
 	justify-content: space-between;
 	align-items: center;
}
.footer .footer_container .box_bar .box{
	width: 169px;
	height: 100%;
	margin: 0;
 	background-color: #ccc;
 	opacity: 0.8;
}
.footer .footer_container .box_bar .box:hover{
	background-color: #eee; 
	cursor: pointer;
}
.footer .footer_container .box_bar .box h5{
	color: #ff8000;
	padding: 10px;
}
.footer .footer_container .box_bar .box p{
	font-size: 10px;
	padding: 0 10px;
}

.footer_container .links a{	
	border-left: 1px solid black;
	padding: 0 20px;
	text-decoration: none;
}
.copyright a{
	width: 270px;
	float: left;
	text-decoration: none;
}

#A_chart0, #B_chart0, #C_chart0, 
#A_chart1, #B_chart1, #C_chart1, 
#A_chart2, #B_chart2, #C_chart2, 
#A_chart3, #B_chart3, #C_chart3, 
#A_chart4, #B_chart4, #C_chart4,
#A_chart5, #B_chart5, #C_chart5,
#A_chart6, #B_chart6, #C_chart6,
#A_chart7, #B_chart7, #C_chart7,
#A_chart8, #B_chart8, #C_chart8,
#A_chart9, #B_chart9, #C_chart9,
#A_chart10, #B_chart10, #C_chart10, 
#A_chart11, #B_chart11, #C_chart11, 
#A_chart12, #B_chart12, #C_chart12, 
#A_chart13, #B_chart13, #C_chart13, 
#A_chart14, #B_chart14, #C_chart14,
#A_chart15, #B_chart15, #C_chart15,
#A_chart16, #B_chart16, #C_chart16,
#A_chart17, #B_chart17, #C_chart17,
#A_chart18, #B_chart18, #C_chart18,
#A_chart19, #B_chart19, #C_chart19 {
	width: 100px;
	height: 33px;
}






